@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::before,
  *::after {
    font-family: 'Outfit', sans-serif !important;
  }

  html, body {
    font-family: 'Outfit', sans-serif !important;
    background-color: #f3f4f6;
  }

  h1, h2, h3, h4, h5, h6, p, span, a, button, input, select, textarea, label, div {
    font-family: 'Outfit', sans-serif !important;
  }
}